:root {
  --color: hsl(230, 17%, 14%);
  --color-top-bg: hsl(225, 100%, 98%);
  --color-bottom-bg: hsl(0, 0%, 100%);
  --color-card-bg: hsl(227, 47%, 96%);
  --color-card-hover: hsl(231, 30%, 91%);
  --color-text: hsl(228, 12%, 44%);
  --color-text-2: hsl(228, 12%, 44%);
  --color-theme-slider: #fff; }

html[data-theme=dark] {
  --color: #fff;
  --color-top-bg: hsl(232, 19%, 15%);
  --color-bottom-bg: hsl(230, 17%, 14%);
  --color-card-bg: hsl(228, 28%, 20%);
  --color-card-hover: hsl(240, 20%, 28%);
  --color-text: hsl(227, 4%, 53%);
  --color-text-2: #fff;
  --color-theme-slider: hsl(228, 28%, 20%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-image: linear-gradient(to top, var(--color-bottom-bg) 70%, var(--color-top-bg) 30%); }
  @media only screen and (max-width: 56.25em) {
    html {
      background-image: none;
      background-color: var(--color-bottom-bg); } }
  @media only screen and (max-width: 31.25em) {
    html {
      background-image: none;
      background-color: var(--color-bottom-bg); } }

.container {
  max-width: 1440px;
  margin: auto;
  padding: 3rem; }

.header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0; }
  .header__title {
    color: var(--color); }
  .header__followers {
    color: var(--color-text);
    font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .header {
      margin: 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      flex-direction: column;
      margin: 1rem 0; } }
  @media only screen and (max-width: 31.25em) {
    .header__right {
      margin: 1rem 0 0 0;
      border-top: 1px solid var(--color-text-2);
      padding: 2rem 0; } }

.social-overviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .social-overviews {
      margin: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .social-overviews {
      margin: 3rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 2.5rem; } }

.social-overview {
  background-color: var(--color-card-bg);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 2.8rem;
  border-radius: 5px;
  overflow: hidden;
  color: var(--color-text); }
  .social-overview__info {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social-overview__icon {
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem; }
  .social-overview__user {
    font-size: 1.3rem;
    font-weight: 700; }
  .social-overview__followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1ch; }
  .social-overview__count {
    font-weight: 700;
    font-size: 6rem;
    color: var(--color);
    letter-spacing: 1px; }
  .social-overview__title {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-text); }
  .social-overview__status {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social-overview__stat {
    height: .5rem;
    width: 1rem;
    margin-right: .5rem; }
  .social-overview__day {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1db489; }
  .social-overview:hover {
    cursor: pointer;
    background-color: var(--color-card-hover); }

.today-overviews {
  margin-top: 4.4rem; }
  .today-overviews__title {
    color: var(--color-text-2); }
  .today-overviews__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 2.2rem; }
    @media only screen and (max-width: 56.25em) {
      .today-overviews__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .today-overviews__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem; } }
  .today-overviews__item {
    background-color: var(--color-card-bg);
    padding: 2rem;
    border-radius: 5px; }
    .today-overviews__item:hover {
      cursor: pointer;
      background-color: var(--color-card-hover); }
  .today-overviews__head, .today-overviews__main {
    display: flex;
    justify-content: space-between; }
  .today-overviews__head {
    align-items: center; }
  .today-overviews__main {
    margin-top: 3.7rem; }
  .today-overviews__category {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text); }
  .today-overviews__icon {
    height: 2.5rem;
    width: 2.5rem; }
  .today-overviews__count {
    font-size: 3.3rem;
    font-weight: bold;
    color: var(--color); }
  .today-overviews__info {
    display: flex;
    align-items: flex-end; }
  .today-overviews__stat {
    height: 1rem;
    width: 1rem;
    margin-right: .35rem; }
  .today-overviews__percentage {
    font-size: 1.25rem;
    font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .today-overviews {
      margin: 5rem 3rem; } }

.theme {
  display: flex;
  align-items: center; }
  .theme span {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--color-text);
    font-weight: 700; }
    @media only screen and (max-width: 56.25em) {
      .theme span {
        display: none; } }
    @media only screen and (max-width: 31.25em) {
      .theme span {
        display: block; } }
  .theme__switch {
    display: inline-block;
    height: 3.5rem;
    width: 6rem;
    position: relative; }
    .theme__switch input {
      display: none; }
      .theme__switch input:checked + .theme__slider {
        background-image: linear-gradient(to right, #378fe6, #3eda82); }
      .theme__switch input:checked + .theme__slider:before {
        transform: translateX(2.5rem); }
  .theme__slider {
    background-image: linear-gradient(to right, #378fe6, #3eda82);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s; }
    .theme__slider:before {
      background-color: var(--color-theme-slider);
      bottom: .5rem;
      content: "";
      height: 2.5rem;
      left: .5rem;
      position: absolute;
      transition: .4s;
      width: 2.5rem; }
  .theme .round {
    border-radius: 3.5rem; }
  .theme .round:before {
    border-radius: 50%; }
  @media only screen and (max-width: 31.25em) {
    .theme {
      justify-content: space-between; } }

.facebook {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.instagram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.up {
  background-image: url("../images/icon-up.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.down {
  background-image: url("../images/icon-down.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.border-ig {
  position: relative; }

.border-ig::after {
  content: '';
  top: 0;
  position: absolute;
  height: .5rem;
  width: 100%;
  background-image: linear-gradient(to right, #fdc468, #df4996);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.border-fb {
  border-top: 5px solid deepskyblue; }

.border-tw {
  border-top: 5px solid #1ca0f2; }

.border-yt {
  border-top: 5px solid #c4032a; }

.green {
  color: #1db489; }

.red {
  color: #dc414c; }

.heading-1 {
  font-size: 3rem;
  font-weight: 700; }

.heading-2 {
  font-size: 2.2rem;
  font-weight: 700; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-top {
  margin-top: 2rem; }
