*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7ff; }

.container {
  max-width: 1440px;
  margin: auto;
  padding: 3rem; }

.header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0; }
  .header__title {
    color: #1e202a; }
  .header__followers {
    color: #63687e;
    font-weight: 700; }

.social-overviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem; }

.social-overview {
  background-color: #f0f2fa;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-row-gap: 2.8rem;
  border-radius: 5px;
  overflow: hidden;
  color: #63687e; }
  .social-overview__info {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social-overview__icon {
    margin-right: 1rem;
    height: 2.5rem;
    width: 2.5rem; }
  .social-overview__user {
    font-size: 1.3rem;
    font-weight: 700; }
  .social-overview__followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 1ch; }
  .social-overview__count {
    font-weight: 700;
    font-size: 6rem;
    color: #1e202a;
    letter-spacing: 1px; }
  .social-overview__title {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #63687e; }
  .social-overview__status {
    display: flex;
    justify-content: center;
    align-items: center; }
  .social-overview__stat {
    height: .5rem;
    width: 1rem;
    margin-right: .5rem; }
  .social-overview__day {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1db489; }
  .social-overview:hover {
    cursor: pointer;
    background-color: rgba(174, 179, 203, 0.4); }

.today-overviews {
  margin-top: 4.4rem; }
  .today-overviews__title {
    color: #63687e; }
  .today-overviews__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 2.2rem; }
  .today-overviews__item {
    background-color: #f0f2fa;
    padding: 2rem;
    border-radius: 5px; }
    .today-overviews__item:hover {
      cursor: pointer;
      background-color: rgba(174, 179, 203, 0.38); }
  .today-overviews__head, .today-overviews__main {
    display: flex;
    justify-content: space-between; }
  .today-overviews__head {
    align-items: center; }
  .today-overviews__main {
    margin-top: 3.7rem; }
  .today-overviews__category {
    font-size: 1.5rem;
    font-weight: 700;
    color: #63687e; }
  .today-overviews__icon {
    height: 2.5rem;
    width: 2.5rem; }
  .today-overviews__count {
    font-size: 3.3rem;
    font-weight: bold;
    color: #1e202a; }
  .today-overviews__info {
    display: flex;
    align-items: flex-end; }
  .today-overviews__stat {
    height: 1rem;
    width: 1rem;
    margin-right: .35rem; }
  .today-overviews__percentage {
    font-size: 1.25rem;
    font-weight: 700; }

.facebook {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.instagram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.up {
  background-image: url("../images/icon-up.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.down {
  background-image: url("../images/icon-down.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.border-ig {
  position: relative; }

.border-ig::after {
  content: '';
  top: 0;
  position: absolute;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #fdc468, #df4996);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.border-fb {
  border-top: 5px solid deepskyblue; }

.border-tw {
  border-top: 5px solid #1ca0f2; }

.border-yt {
  border-top: 5px solid #c4032a; }

.green {
  color: #1db489; }

.red {
  color: #dc414c; }

.heading-1 {
  font-size: 3rem;
  font-weight: 700; }

.heading-2 {
  font-size: 2.2rem;
  font-weight: 700; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-top {
  margin-top: 2rem; }
