// COLORS

$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);

$color-toggle-blue: hsl(210, 78%, 56%);
$color-toggle-green: hsl(146, 68%, 55%);

$color-facebook: hsl(195, 100%, 50%);
$color-twitter: hsl(203, 89%, 53%);
$color-youtube: hsl(348, 97%, 39%);
$color-instagram-1: hsl(37, 97%, 70%);
$color-instagram-2: hsl(329, 70%, 58%);

:root {
    --color: hsl(230, 17%, 14%);
    --color-bg: #fff;
    --color-top-bg: hsl(225, 100%, 98%);
    --color-bottom-bg: hsl(225, 100%, 98%);
    --color-card-bg: hsl(227, 47%, 96%);
    --color-card-hover: hsl(231, 30%, 91%);
    --color-text: hsl(228, 12%, 44%);
    --color-text-2: hsl(228, 12%, 44%);
    --color-theme-slider: #fff;
}

html[data-theme=dark] {
    --color: #fff;
    --color-bg: hsl(230, 17%, 14%);
    --color-top-bg: hsl(232, 19%, 15%);
    --color-bottom-bg: hsl(232, 19%, 15%);
    --color-card-bg: hsl(228, 28%, 20%);
    --color-card-hover: hsl(240, 20%, 28%);
    --color-text: hsl(227, 4%, 53%);
    --color-text-2: #fff;
    --color-theme-slider: hsl(228, 28%, 20%);
}

// BREAKPOINTS
$bp-medium: 56.25em;
$bp-small: 31.25em;

// MAIN CSS

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg);
    height: 100%;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 3rem;
}

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 5rem 0;

    &__title {
        color: var(--color);
    }

    &__followers {
        color: var(--color-text);
        font-weight: 700;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        margin: 1rem 0;
    }

    &__right {
        @media only screen and (max-width: $bp-small) {
            margin: 3rem 0;
            border-top: 1px solid var(--color-text-2);
            padding: 2rem 0;
        }
    }

}

.social-overviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.5rem;
    }
}

.social-overview {
    
    background-color: var(--color-card-bg);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 2.8rem;
    border-radius: 5px;
    overflow: hidden;
    color: var(--color-text);

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        margin-right: 1rem;
        height: 2.5rem;
        width: 2.5rem;
    }

    &__user {
        font-size: 1.3rem;
        font-weight: 700;
    }

    &__followers {
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 1ch;
    }

    &__count {
        font-weight: 700;
        font-size: 6rem;
        color: var(--color);
        letter-spacing: 1px;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--color-text);
    }

    &__status {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__stat {
        height: .5rem;
        width: 1rem;
        margin-right: .5rem;
    }

    &__day {
        font-size: 1.25rem;
        font-weight: 700;
        color: $color-lime-green;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--color-card-hover);
    }

}


.today-overviews {

    margin-top: 4.4rem;
    
    &__title {
        color: var(--color-text-2);
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        margin-top: 2.2rem;

        @media only screen and (max-width: $bp-medium) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
    
        @media only screen and (max-width: $bp-small) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2rem;
        }
    }

    &__item {
        background-color: var(--color-card-bg);
        padding: 2rem;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
            background-color: var(--color-card-hover);
        }
    }

    &__head,
    &__main {
        display: flex;
        justify-content: space-between;
    }

    &__head {
        align-items: center;
    }

    &__main {
        margin-top: 3.7rem;
    }

    &__category {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--color-text);
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    &__count {
        font-size: 3.3rem;
        font-weight: bold;
        color: var(--color);
    }

    &__info {
        display: flex;
        align-items: flex-end;
    }

    &__stat {
        height: 1rem;
        width: 1rem;
        margin-right: .35rem;
    }

    &__percentage {
        font-size: 1.25rem;
        font-weight: 700;
    }
}

.theme {
    display: flex;
    align-items: center;

    span {
        margin-right: 1rem;
        font-size: 1.3rem;
        color: var(--color-text);
        font-weight: 700;
    }

    &__switch {
        display: inline-block;
        height: 3.5rem;
        width: 6rem;
        position: relative;

        input {
            display: none;
        
            &:checked + .theme__slider{
                background-image: linear-gradient(to right, $color-toggle-green, $color-toggle-blue);
            }

            &:checked + .theme__slider:before{
                transform: translateX(2.5rem);
            }
        }
    }

    &__slider {
        background-image: linear-gradient(to right, $color-toggle-green, $color-toggle-blue);
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;

        &:before {
            background-color: var(--color-theme-slider);
            bottom: .5rem;
            content: "";
            height: 2.5rem;
            left: .5rem;
            position: absolute;
            transition: .4s;
            width: 2.5rem;
        }
    }
    .round {
        border-radius: 3.5rem;
    }

    .round:before {
        border-radius: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        justify-content: space-between;
    }

}

.facebook {
    background-image: url('../images/icon-facebook.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.twitter {
    background-image: url('../images/icon-twitter.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.instagram {
    background-image: url('../images/icon-instagram.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.youtube {
    background-image: url('../images/icon-youtube.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.up {
    background-image: url('../images/icon-up.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.down {
    background-image: url('../images/icon-down.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.border {

    &-ig {
        position: relative;
    }

    &-ig::after {
        content: '';
        top: 0;
        position: absolute;
        height: .5rem;
        width: 100%;
        background-image: linear-gradient(to right, $color-instagram-1, $color-instagram-2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-fb {
        border-top: 5px solid $color-facebook;
    }

    &-tw {
        border-top: 5px solid $color-twitter;
    }

    &-yt {
        border-top: 5px solid $color-youtube;
    }

}

.green {
    color: $color-lime-green;
}

.red {
    color: $color-bright-red;
}

.heading-1 {
    font-size: 3rem;
    font-weight: 700;
}

.heading-2 {
    font-size: 2.2rem;
    font-weight: 700;
}


.u-margin-bottom {
    margin-bottom: 2rem;
}

.u-margin-top {
    margin-top: 2rem;
}